.login {
  font-size: 28px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  margin-top: 5%;
}

input:focus {
  border: 0px;
}

.loginbtn {
  width: 345px;
  height: 50px;
  padding: 12px;
  background-color: #000825;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 8px;
  box-sizing: border-box;
}

.loginbtn:hover {
  background-color: #020d45;
}

.customHr {
  width: 220px;
  color: #c5c7d0;
}

.microsoftbtn {
  padding: 12px;
  background-color: rgb(235, 134, 12);
  font-size: 18px;
  width: 345px;
  height: 50px;
  box-sizing: border-box;
}

.microsoftbtn:hover {
  background-color: rgb(198, 116, 15);
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.custom-inputIcon {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  color: gray;
}
