<div
  style="
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
  "
>
  <div
    style="
      background-color: white;
      color: black;
      margin: 24px;
      height: 140px;
      padding: 12px;
    "
  >
    Testing message
  </div>
</div>
<!-- <div style="position: absolute;top:0; bottom: 0; left: 0; right: 0;background-color: lightgray;filter: opacity(80%);">
  <div style="background-color: white; color: black;margin: 24px;height: 140px;padding: 12px;"> 
    Testing message
  </div>
</div> -->
